nav{
  background-color: #00bf8f;
  font-family: 'Roboto';
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-color: #00bf8f;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

strong{
  font-size:150px;
}
